@import './variables.css';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.5;
  color: var(--color-text-primary);
}

.border-t {
  border-top: 1px solid var(--color-border);
  width: 100%;
}